<h1>Novo Prato</h1>

<%= form_with(model: dish) do |form| %>
  <div class="field">
    <%= form.label :name, 'Nome do Prato' %>
    <%= form.text_field :dish_name %>
  </div>

  <div class="field">
    <%= form.label :price, 'Preço' %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
